<p id="notice"><%= notice %></p>

<h1>Mike's Blog</h1>
<% counter = 0 %>

<p>Welcome <%= current_user.username %>!</p>

  <div class= "row">
    <% @blog_posts.each do |blog_post| %>
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
              <%= link_to blog_post.title,  blog_post %>
          </div>
          <div class="panel-body">
            by: <%= current_user.username %><br>
            <p><%= blog_post.blog_entry[0..250] %>...[ <%= link_to "READ MORE", blog_post %> ]
            <% blog_post.comments.each do |comment| %>
              <% counter +=1 %>
            <% end %>
            <% if counter >0 %>
              <%= link_to "[ #{counter} comments ]", blog_post_path(blog_post, :anchor => "comments") %>
              <% counter = 0 %>
            <% end %></p>
            <p><strong><%=blog_post.updated_at.strftime('%d %B %Y %H:%M:%S') %></strong></p>
          </div>
          
          <div class="panel-footer">

            <%= link_to 'Edit Blog Post', edit_blog_post_path(blog_post), class:"btn btn-warning" %>
            <%= link_to 'Destroy Post', blog_post, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>


<br>

<%= link_to 'New Blog post', new_blog_post_path, class: "btn btn-info" %>
